body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 90%;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.weather {
    margin-top: 20px;
    padding: 15px;
    background-color: #e8f4ff;
}

.error {
    color: red;
}